html {
    box-sizing: border-box;
    height: 100%;
  }

  *,
  *:before,
  :after {
    box-sizing: inherit;
  }

  body {
    height: 100%;
    overflow: hidden;
    background-color: rgb(17, 189, 17);
  }

  img {
    width: 50%;
    height: 50%;
  }

  div.parkingplace {
    position: absolute;
    top: 177px;
    left: 0px;
    width: 55%;
    height: 75%; 
  }

  div.tarmac {
    position: absolute;
    top: 177px;
    left: 370px;
    width: 80%;
    height: 75%;


  }

  div.tarmac2 {
    position: absolute;
    top: 177px;
    left: 850px;
    width: 80%;
    height: 75%;

  }

  .car {
  position: absolute;
  top: 35%;
  right: 20px;
  width: 600px;
  height: 282px;
  /essential for determining offset/

  /essential for determining offset/
}
  .parkingspot {
  position: absolute;
  left: 80px;
  top: 30%;
  right: 0;
  height: 300px;
  width: 20px;
  /essential for determining offset/
 
  /essential for determining offset*/

  }

  .scoreboard {
    position: fixed;
    margin: 10px;
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color: red;
  }

  .driving{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
